
@media (max-width: 1600px) {

  body {
  background-color: rgb(26, 26, 30);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 215px;
  border-radius: 10px;
  background: #1a232b;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.resultado {
  border-radius: 6px;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  background: transparent;
  color: #e9f9e9;
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
}


h1 { font-size: 34px;
  color: #e9f9e9;
  margin-top: 0px;
}

button {
  border: 0px;
  border-radius: 40px;
  background: #ef8a05;
  color: aliceblue;
  width: 200px;
  padding: 8px 5px;
  margin: 16px 0px;
}

button:hover {
  background: #768b1b;
}

input {
  border-radius: 3px;
  border: 3px solid #131721;
  padding: 8px;
  background-color: #1a232b;
  color: #e9f9e9;
}

h3 {
  margin-bottom: 14px;
  font-size: 24px;
  color: #e9f9e9;
}

.checkBox {
  color: #e9f9e9;
}

.tituloResultado {
  font-size: 26px;
  color: #e9f9e9;
  justify-content: center;
  padding-top: 12px;
}

}
@media (min-width: 601px) {

}